<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="changingPw2.css">
</head>
<body>
    <header class="header-area">
        <div class="place-logo">
            <img src="../imgs/logo.png" alt="로고" class="logo logo-fixed">
        </div>
    </header>

    <div class="main">
        <h1 class="title">비밀번호 변경</h1>
        <div class="input-container">
            <div class="input-title">비밀번호</div>
            <div class="input-input">
                <input type="text" placeholder=".">
            </div>
            <div class="precaution">8 ~ 16자 이내, 영문과 숫자, 특수문자 조합</div>
        </div>
        <div class="input-container">
            <div class="input-title">비밀번호 확인</div>
            <div class="input-input">
                <input type="text" placeholder=".">
            </div>
            <div class="precaution">비밀번호 일치</div>
        </div>
        <button class="yellow-btn signup-btn">비밀번호 변경</button>
    </div>
</body>
</html>