<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="findingId2.css">
</head>
<body>
    <header class="header-area">
        <div class="place-logo">
            <img src="../imgs/logo.png" alt="로고" class="logo logo-fixed">
        </div>
    </header>

    <div class="main">
        <h1 class="title">
            유저님의 아이디는 <br>
            user1234 입니다.
        </h1>
        <button class="yellow-btn">로그인하러 가기</button>
        <div class="precaution">비밀번호를 모르세요? <span>비밀번호 변경</span></div>
    </div>
</body>
</html>