<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="signup2.css">
</head>
<body>
    <header class="header-area">
        <div class="place-logo">
            <img src="../imgs/logo.png" alt="로고" class="logo logo-fixed">
        </div>
    </header>

    <div class="main">
        <h1 class="title">회원가입</h1>
        <div class="profile-image">
            <img src="../imgs/Profile.png" alt="프로필">
        </div>
        <div class="input-container">
            <div class="input-title">자기소개(선택)</div>
            <div class="input-input">
                <input type="text" placeholder=".">
            </div>
            <div class="precaution">30자 이내</div>
        </div>
        <div class="input-container">
            <div class="input-title">생년 월일</div>
            <div class="input-input">
                <input type="text" placeholder="yyyy/mm/dd">
            </div>
        </div>
        <button class="yellow-btn signup-btn">가입하기</button>
    </div>
</body>
</html>