<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="signup_success.css">
</head>
<body>
    <header class="header-area">
        <div class="place-logo">
            <img src="../imgs/logo.png" alt="로고" class="logo logo-fixed">
        </div>
    </header>

    <div class="main">
        <div class="profile-image">
            <img src="../imgs/Profile.png" alt="프로필">
        </div>
        <h1 class="title">
            유저님, <br>
            가입을 축하드립니다!
        </h1>
        <button class="yellow-btn">로그인하러 가기</button>
    </div>
</body>
</html>